<mat-card-content>
  <h2>LOGIN</h2>
  <form [formGroup]="login" (ngSubmit)="toLogin()">
    <!--    username-->
    <div>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" name="username" id="username" formControlName="username">
      </mat-form-field>
    </div>


    <!--    password-->
    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" id="password" formControlName="password">
      </mat-form-field>
    </div>

    <p>{{message}}</p>
    <button class="btn-success" type="submit">login</button>
  </form>
</mat-card-content>
