*{
  font-size: 14px;
}
.label-text{
  min-width: 100px;
}

.label-text-min{
  min-width: 20%;
}
.select{
  min-width: 50%;
}
.vien{
  max-width: 40px;
}
#form{
  width: 60%;
  margin: auto;
  box-shadow: 0 0 1px 3px rgba(0,0,0,0.2);
}
.icon{
  padding: 10px 10px 0 0;
}
#content {
  box-shadow: 0 0 2px 2px #5f6062;
}
.thead{
  color: white;
  background-color: #567FEA;
}
input{
  padding-left: 10px;
  border-radius: 4px;
  outline: none;
  padding-bottom: 3px;
}
.ve{
  background-color: #567FEA;
  color: white;
}
.date{
  padding-right: 16px;
}
.huy{
  min-width: 76px;
}
.btn-delete{
  background-color: #dc3545;
}

.btn-edit {
  background-color: #567FEA;
}
.btn-edit:hover{
  color: white;
  background-color: rgba(86,127,234,0.8) ;
}

.btn-nav{

}

.btn-pay{
  background-color: #2FC1A6;
  color: white;
}
.btn-print {
  background-color: #242a61;
  color: white;
}

.btn-print:hover{
  color: white;
}
.btn-search {
  background-color: #567FEA;
}
.select-field{
  width: 25%;

}
.search{
  width: 70%;
}

