<p style="color: red">{{message}}</p>
<div id="demo" *ngIf="data != null">
  <form>
    <h1>Chi tiết hóa đơn</h1>
    <table>
      <tr>
        <td>Mã hóa đơn : {{data.exportBillCode}}</td>
      </tr>
      <tr>
        <td>Loại hóa đơn:{{data.exportBillType.exportBillTypeName}}</td>
      </tr>
      <tr>
        <td>Ngày lập : {{data.exportBillDate | date:"yyyy-MM-dd" }}</td>

      </tr>
      <tr>
        <td>Giờ lập : {{data.exportBillDate | date:"HH:mm" }} </td>

      </tr>
      <tr>
        <td>Người lập: {{data.employee.employeeName}} </td>

      </tr>
      <tr>
        <td>Tổng tiền : {{data.totalMoney}} </td>

      </tr>
      <tr>
        <td>Nhà cung cấp :{{data.manufacturer.manufacturerName}} </td>

      </tr>
      <tr>
        <td>Lý do : {{data.exportBillReason}}</td>
      </tr>


    </table>
  </form>
</div>
<div *ngIf="data != null">
  <button class="btn btn-success mr-3" type="button" printSectionId = "demo" ngxPrint (click)="print()" >Có</button>
  <button class="btn btn-danger mr-3" type="button" (click)="dialogRef.close(false)">Không</button>

</div>
