HTML
TS
<table mdbTable>
  <thead class="black white-text">
  <tr>
    <button routerLink="/todoes/create" class="btn-success">create</button>
  </tr>
  <tr>
    <th>#</th>
    <th>title</th>
    <th>note</th>
    <th>action</th>
  </tr>
  </thead>
  <tbody>
  <tr mdbTableCol *ngFor="let todo of todos, index as i">
    <th scope="row">{{i + 1}}</th>
    <th>{{todo.title}}</th>
    <th><input type="text"></th>
    <th>
<!--      <button [routerLink]="['/todoes/edit/', todo.id]" class="btn-info">edit</button>-->
      <button routerLink="/todoes/edit/{{todo.id}}" class="btn-info">edit</button>
      <button routerLink="/todoes/delete/{{todo.id}}" class="btn-danger">delete</button>
    </th>
  </tr>
  </tbody>
</table>
