<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<h2>BLOG</h2>
<a th:href="@{/create-blog}">create blog</a>
<form th:action="@{/findByName}" method="get" >
    <input type="text" name="find">
    <button type="submit">find</button>
    <table>
        <tr>
            <td>#</td>
            <td>author</td>
            <td>title</td>
            <td>action</td>
        </tr>
        <div th:each="blog, status : ${blogList}">
            <tr>
                <td th:text="${status.count}"></td>
                <td hidden th:text="${blog.id}"></td>
                <td th:text="${blog.category.getNameCategory()}"></td>
                <td th:text="${blog.author}"></td>
                <td><a th:text="${blog.title}" th:href="@{/view/__${blog.id}__}"></a></td>
                <td><a th:href="@{/edit/__${blog.id}__}">edit</a></td>
                <td><a th:href="@{/delete/__${blog.id}__}">delete</a></td>
            </tr>
        </div>
<!--        <div>-->
<!--            <a th:href="@{/list/__${blogList.number - 1}}" th:if="${blogList.hasPrevious()}">Previous</a>-->
<!--            <span th:text="${blogList.number + 1}"></span>/<span th:text="${blogList.totalPages}"></span>-->
<!--            <a th:href="@{/list/__${blogList.number + 1}}" th:if="${blogList.hasNext()}">Next</a>-->
<!--        </div>-->
    </table>
</form>

</body>
</html>