<h2>REGISTER FORM</h2>

<form [formGroup]="user" (ngSubmit)="createUser()">
<!--  id-->
  <div>
    <p>ID</p>
    <input type="text" name="id" id="id" formControlName="id">
  </div>

<!--  email-->
  <div>
    <p>EMAIL</p>
    <input type="text" name="email" id="email" formControlName="email">
    <div *ngIf="!user.controls.email?.valid">
      <p style="color: red">Enter email example: abcd1234@gmail.com</p>
    </div>
  </div>

<!--  password-->
  <div>
    <p>PASSWORD</p>
    <input type="password" name="password" id="password" formControlName="password" >
  </div>

<!--  country-->
  <div>
    <p>COUNTRY</p>
    <select name="country" id="country" formControlName="country">
      <option value="vietnam">VIETNAM</option>
      <option value="usa">USA</option>
      <option value="japan">JAPAN</option>
    </select>
  </div>

<!--  age-->
  <div>
    <p>AGE</p>
    <input type="date" name="age" id="age" formControlName="age">
  </div>

<!--  gender-->
  <div>
    <p>GENDER</p>
    <mat-radio-group name="gender" id="gender" formControlName="gender">
      <mat-radio-button value="male">MALE</mat-radio-button>
      <mat-radio-button value="female">FEMALE</mat-radio-button>
      <mat-radio-button value="other">OTHER</mat-radio-button>
    </mat-radio-group>
  </div>

<!--  phone-->
  <div>
    <p>PHONE</p>
    <input type="text" name="phone" id="phone" formControlName="phone">
  </div>

  <hr>

  <button type="submit" [disabled]="!user.valid">REGISTER</button>
</form>
