<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head th:replace="/layout :: head"></head>
<body>
<h3>Edit</h3>
<p>
    <a th:href="@{/product/list}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form th:action="@{/product/update}" method="post" th:object="${product}">
        <div>
            <label>Id</label>
            <input disabled type="text" name="idProduct" th:field="*{id}"/>
        </div>
        <div>
            <label>Name</label>
            <input type="text" id="name" name="name" th:field="*{name}"/>
        </div>
        <div>
            <label>Price</label>
            <input type="number" name="price" th:field="*{price}"/>
        </div>
        <input type="submit" value="update"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>