<div>
  <div  class="container ">
    <h2 class="text-center">Hóa đơn bán lẻ</h2>
    <div class="container ">

      <form class="border p-3">

        <div class="d-flex justify-content-between">
          <div class="d-flex flex-column">
            <div class="mb-3">
              <label class="label-text">Số Phiếu (<i class="text-danger text-under">* </i>)</label>
              <input class="width-input form-control" type="text" placeholder="HDL0001">
              <p style="color: red; font-size: 12px">số phiếu không dc để trống</p>
            </div>
            <div class="mb-3">
              <label class="label-text">Nhân viên (<i class="text-danger text-under">* </i>)</label>
              <input class="width-input form-control" type="text" placeholder="Trần Đại Huy"><br>
              <small style="color: red ; font-size: 12px">Nhân viên không dc để trống</small>
            </div>
            <div class="mb-3">
              <label class="label-text">Ngày lặp (<i class="text-danger text-under">* </i>)</label>
              <input class=" form-control"  type="date">
              <p style="color: red ; font-size: 12px">ngày  không dc để trống</p>
            </div>
          </div>
          <div class="d-flex flex-column">
            <div class="mb-3">
              <label class="label-text">Khách hàng (<i class="text-danger text-under">* </i>)</label>
              <input class="width-input form-control" type="text" placeholder="khách lẻ">
              <p style="color: red; font-size: 12px">khách hàng  không dc để trống</p>
            </div>
            <div class="mb-3">
              <label class="label-text">Ghi chú (<i class="text-danger text-under">* </i>)</label>
              <input class="width-input form-control" type="textarea">
              <p style="color: red ; font-size: 12px">ghi chú  không dc để trống</p>
            </div>

          </div>
          <div class="d-flex flex-column">
            <div class="mb-3">
              <label class="label-text" >Tham khảo toa</label>
              <div class="d-flex">
                <input class="width-input form-control" type="text"  >
                <button class="btn-primary btn">
                  <i class="fa fa-search"></i>
                </button>
              </div>


            </div>
            <button class="btn btn-success" type="submit" routerLink="/prescription" >Nhập thuốc từ toa sẵn</button>
          </div>
        </div>
      </form>
    </div>

    <div class="container pb-3">
      <div class="scroll outer">
        <table class="table table-bordered table-striped">
          <thead class="thead">
          <tr>
            <th>Tên thuốc</th>
            <th>Đơn vị tính</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <select [ngModel]="null" (ngModelChange)="getDrug($event)"   >
                <option  [selected]="true" [hidden]="true">Thêm thuốc</option>
                <option  *ngFor="let drug of drugs" [ngValue]="drug"  >{{drug.name}}</option>
              </select>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngFor="let drugOfBill of data , let i = index">
            <td>{{drugOfBill.drug.name}}</td>
            <td>vỉ</td>
            <td>{{drugOfBill.quantity}}</td>
            <td>{{drugOfBill.drug.price}}</td>
            <td>{{drugOfBill.drug.price * drugOfBill.quantity}} VND</td>
          </tr>
          </tbody>
        </table>

      </div>

      <div class="d-flex  justify-content-end mt-3 ">
        <label class="mr-3 mt-2 ">Tổng tiền </label>
        <input value="{{total}}" class="form-control col-3" type="text">
      </div>
    </div>
    <div class="d-flex justify-content-end pt-4 pb-5">
      <button class="mr-5 btn btn-pay" type="button" ><i class="fa fa-plus"></i> Thanh toán</button>
      <button class="mr-5 btn btn-print" type="button" ><i class="fa fa-print"></i> In phiếu</button>
      <button class="mr-5 btn btn-danger" type="button" (click)="openDeleteDialog()" ><i class="fa fa-trash"></i> xóa thuôc </button>
      <button class="mr-5 btn btn-edit" type="button" routerLink="/" ><i class="fa fa-undo"></i> Trở về </button>
    </div>
  </div>
</div>


