<div class="container" style="background: #567FEA;height: 50px"><h2
  style="text-align: center;line-height: 50px">XÓA HÓA ĐƠN XUẤT KHO</h2>
</div>
<div class="modal-body">
  Bạn có muốn xóa hóa đơn xuất kho này ({{data.code}})
</div>
<div class="modal-footer">
  <button mat-dialog-close="" style="background: #567FEA" type="button" class="btn ve" data-dismiss="modal"><i class="icon-sidebar fa fa-reply "></i>
    Trở về
  </button>
  <button mat-dialog-close="" type="submit" (click)="delete(data.id)" class="btn btn-danger">Xóa</button>
</div>
