#header{
    background-color: #171219;
    height: 100px;
    width: 100%;
}
#nav{
    background-color: white;
    height: 25px;
    width: 100%;
}
#main{
    height: 400px;
    width: 100%;
}
#section{
    background-color: #225560;
    height: 200px;
    width: 70%;
    position: relative;
    float: left;
}
#article{
    background-color: #EDF060;
    height: 200px;
    width: 70%;
    position: relative;
    top: 200px;
}
#aside{
    background-color: #171219;
    height: 400px;
    width: 30%;
    position: relative;
    float: left;
}
#footer{
    background-color: #F0803C;
    height: 100px;
    width: 100%;
    clear: both;
}
