<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>Calculator</h2>

<div>
  <input #num1 type="text">
  <input #num2 type="text">
</div>

<div>
  <button value="+" (click)="add(num1.value, num2.value)">addition (+)</button>
  <button value="-" (click)="decrease(num1.value, num2.value)">degrade (-)</button>
  <button value="*" (click)="multi(num1.value, num2.value)">multiply (*)</button>
  <button value="/" (click)="division(num1.value, num2.value)">division (/)</button>
</div>

<div>
  <p>Result:</p>
  <p id="result"></p>
</div>

<div>
  <div>
    <input rows="4" cols="40" #input id="input" >
  </div>
  <div>
    <button class="btn-dark" value="+" #sign1 (click)="addSign(sign1.value, input.value)" >addition (+)</button>
    <button value="-" #sign2>degrade (-)</button>
    <button value="*" #sign3>multiply (*)</button>
    <button value="/" #sign4>division (/)</button>
  </div>

</div>

</body>
</html>
