<div id="header" class="d-flex justify-content-between">
  <div id="list">
    <a href="#"><i class="fa fa-bars"></i></a>
  </div>
  <ul id="nav">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="">
        Quản lý bán hàng
        <i class="icon1 fa fa-caret-down ml-2"></i>
      </a>
      <ul class="subnav">
        <li><a routerLink="/sale">Bán lẻ</a></li>
        <li><a href="">Bán hàng</a></li>
      </ul>
    </li>
    <li>
      <a href="">
        Quản lý kho bãi
        <i class="icon1 fa fa-caret-down ml-2"></i>
      </a>
      <ul class="subnav">
        <li><a href="">Quản lý nhập kho</a></li>
        <li><a routerLink="/export-bill-refund">Quản lý xuất kho</a></li>
        <li><a href="">Danh sách thuốc</a></li>
      </ul>
    </li>
    <li>
      <a href="">
        Quản lý thông tin
        <i class="icon1 fa fa-caret-down ml-2"></i>
      </a>
      <ul class="subnav">
        <li><a href="">Khách hàng</a></li>
        <li><a href="">Nhà cung cấp</a></li>
        <li><a href="">Nhân viên</a></li>
        <li><a href="">Toa thuốc</a></li>
        <li><a href="">Tài khoản</a></li>
      </ul>
    </li>
    <li>
      <a href="">
        Tra cứu
      </a>

    </li>
    <li>
      <a href="" id="bao-cao">
        Báo cáo
        <i class="icon1 fa fa-caret-down ml-2"></i>
      </a>
      <ul class="subnav">
        <li><a href="">Báo cáo</a></li>
        <li><a href="">Biểu đồ Thống kê</a></li>
      </ul>
    </li>
  </ul>
  <div class="user d-flex">
    <p id="user-name">Admin</p>
    <img id="user-image" src="./assets/image/user-image.jpg" alt="">
  </div>
</div>

