<div class="content-home">
  <div class="row row-content">
    <div class="right-item col col-lg-4 col-md-6 col-sm-12  ">
      <a class="link-content" href="#">
        <img class="img-right" src="./assets/image/suc-khoe.jpg" alt="">
        <p class="text-content-right">Khách hàng </p>
      </a>

    </div>
    <div class="right-item col col-lg-4 col-md-6 col-sm-12  ">
      <a class="link-content" routerLink="/sale">
        <img class="img-right" src="./assets/image/kho-thuoc.jpg" alt="">
        <p class="text-content-right">Bán lẻ </p>
      </a>


    </div>
    <div class="right-item col col-lg-4 col-md-6 col-sm-12  ">
      <a  class="link-content" href="#">
        <img class="img-right" src="./assets/image/kho-hang.jpg" alt="">
        <p class="text-content-right">Hệ thống kho bãi</p>
      </a>

    </div>
  </div>

  <div class="row mt-5 row-content mb-3">
    <div class="right-item col col-lg-4 col-md-6 col-sm-12  ">
      <a class="link-content" href="#">
        <img class="img-right" src="./assets/image/nhan-vien.jpg" alt="">
        <p class="text-content-right">Quản lý nhân viên</p>
      </a>

    </div>
    <div class="right-item col col-lg-4 col-md-6 col-sm-12   ">
      <a class="link-content" href="#">
        <img class="img-right" src="./assets/image/nha-cung-cap.jpg" alt="">
        <p class="text-content-right">Nhà cung cấp</p>
      </a>


    </div>
    <div class="right-item col col-lg-4 col-md-6 col-sm-12  ">
      <a class="link-content" href="#">
        <img class="img-right" src="./assets/image/bieu-do.png" alt="">
        <p class="text-content-right">Biểu đồ thống kê</p>
      </a>


    </div>
  </div>
</div>
